name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Install project dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:ci

      - name: Run mutation tests
        run: npm run test:mutant

      - name: Upload test reports
        uses: actions/upload-artifact@v6
        with:
          name: test-reports
          path: reports/

  sonarcloud:
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      contents: read
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    steps:
      - if: env.SONAR_TOKEN != null
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - if: env.SONAR_TOKEN != null
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      - name: Install project dependencies
        if: env.SONAR_TOKEN != null
        run: npm ci

      - if: env.SONAR_TOKEN != null
        uses: actions/download-artifact@v6
        with:
          name: test-reports
          path: reports/

      - name: Cache SonarQube packages
        if: env.SONAR_TOKEN != null
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: SonarQube Scan
        if: env.SONAR_TOKEN != null
        uses: SonarSource/sonarqube-scan-action@v7
